@page
@model ChalktBoardChat.UI.Pages.Chalkboard.RegisterModel
@{
}
<div class="text-center bg-success p-2 text-dark bg-opacity-50">

	<h1 class="text-success">Sign up for Chalkboard chat</h1>

	@if (Model.ErrorMessage != null)
	{
		<strong class="text-danger">@Model.ErrorMessage</strong>
	}



	<form method="post">
		<input type="text" placeholder="Username" asp-for="Username" />
		<br />
		<br />

		<input type="password" placeholder="Password" asp-for="Password" />
		<br />
		<br />
		<input type="email" placeholder="Email" asp-for="Email"/>
		<input class="btn btn-outline-success" type="submit" value="Sign up" />
	</form>




</div>